//Basic reset

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    background-color: var(--background-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
