* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#container {
    min-height: 100%;
    padding: 2em;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(107, 105, 105);
    max-width: 900px;
    margin: auto;
}

#option-select {
    display: flex;
    gap: 1em;
    margin: 1em;
    justify-content: flex-end;
}

#prev, #next, #today {
    font-size: 1.5em;
    padding: 0.2em;
}

#prev:hover, #next:hover, #today:hover {
    background-color: rgb(241, 180, 180);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#month-year {
    margin: 1em;
    font-size: 1.25em;
}

#calendar-grid {
    display: grid;
    margin: 1em;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar-days {
    margin: auto;
    color: rgb(77, 79, 79);
    font-weight: 400;
}

.cell {
    /* box-shadow: 1px 0 0 0 #888, 
                0 1px 0 0 #888, 
                1px 1px 0 0 #888,   /* Just to fix the corner 
                1px 0 0 0 #888 inset, 
                0 1px 0 0 #888 inset; */
    transition: 0.3s;
    font-weight: 700;
    padding: 1em;
    aspect-ratio: 1;
    max-width: 5em;
}

.today {
    background-color: rgb(223, 98, 98);
    color: white;
}

.today:hover {
    background-color: rgb(248, 142, 142);
    cursor: pointer;
}

.cell:hover:not(.omit-cell, .today) {
    background-color: rgb(180, 177, 177);
    color: white;
    cursor: pointer;
}

.omit-cell {
    cursor: not-allowed;
}

.event-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    display: grid;
    gap: 1em;
}

.show {
    visibility: visible;
    opacity: 1;
}

#event-container {
    height: 100vh;
    position: absolute;
    width: 70%;
    border: 2px solid darkgrey;
    top: 50%;
    right: 0;
    background: white;
    transform: translateY(-50%);
    overflow: auto;
}

#close {
    font-size: 1em;
    padding: 0.5em;
    color: rgb(75, 75, 75);
    cursor: pointer;
    width: min-content;
    height: min-content;
}

#event-form {
    margin: 2em;
    padding: 2em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 2px solid #e2b7b7;
    border-radius: 1em;
}

#title, #event-description {
    display: grid;
    gap: 1em;
}

span[contenteditable = "true"] {
    background-color: #d8d8d8;
    padding: 1em;
    border-radius: 1em;
    color: #472020;
    font-size: 0.90em;
    overflow-x: auto;
}

[contenteditable] {
    outline: 0px solid transparent;
}

#save-event {
    display: flex;
    justify-content: center;
}

#save-event > button {
    color: white;
    background-color: #f27878;
    border: 1px solid #f36868;
    padding: 1em;
    border-radius: 0.75em;
    cursor: pointer;
}

#events-list {
    margin: 2em;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#event-cell {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background: #f6f5f5;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
